/* You can customize theme styles here */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

/* Fixes navbar from jumping too low and over the heading */
[id]::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

.separator {
    /* background: rgb(8,4,71);
    background: linear-gradient(180deg, rgba(8,4,71,1) 0%, rgba(8,4,71,1) 17%, rgba(59,30,153,1) 49%, rgba(142,45,199,1) 100%);  */
    /* background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(8, 4, 71, 1) 10%, rgba(171, 90, 220, 1) 37%, rgba(243, 135, 126, 1) 100%); */
    background: rgb(35, 8, 92);
    background: linear-gradient(180deg, rgba(35, 8, 92, 1) 0%, rgba(4, 0, 39, 1) 14%);
}

@media screen and (max-width: 414px) {
    .separator {
        margin: 0;
        padding: 0;
    }
}

/* ===== NAV BAR ===== */
.nav-color {
    /* background-color: rgb(7, 0, 49); */
    /* background-color: transparent; */
}

.nav-logo-positioning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-text {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.nav-text2 {
    font-family: 'Anek Telugu', sans-serif;
}

.nav-text-logo-left {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-top: 10px;
}

.nav-text-logo-right {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-top: 10px;
}

.nav-text-logo-left.scrolled {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.nav-text-logo-right.scrolled    {
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ef9035;
}

.navbar-toggle-colour.scrolled {
    background-color: #ef9035;
}

.btn-background {
    background-color: #ef9035;
}

.navbar-text-colour.scrolled {
    color: white !important;
}

@media screen and (max-width: 414px) {
    .navbar-text-colour {
        color: white !important;
        visibility: hidden;
    }

    .navbar-text-colour.scrolled {
        color: white !important;
        visibility: visible;
    }

    .nav-text-logo-left {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        padding-top: 20px;
        margin-bottom: 0;
    }
    
    .nav-text-logo-right {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .nav-text-logo-left.scrolled {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #fff;
    }
    
    .nav-text-logo-right.scrolled    {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #ef9035;
    }
}

@media screen and (max-width: 767px) {
    .navbar-text-colour {
        color: white !important;
        visibility: hidden;
    }

    .navbar-text-colour.scrolled {
        color: white !important;
        visibility: visible;
    }

    .nav-text-logo-left {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 25px !important;
        color: #000;
        padding-top: 20px;
        margin-bottom: 0;
    }
    
    .nav-text-logo-right {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 25px !important;
        color: #000;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .nav-text-logo-left.scrolled {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 25px !important;
        color: #fff;
    }
    
    .nav-text-logo-right.scrolled    {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 25px !important;
        color: #ef9035;
    }
}

@media screen and (max-width: 990px) {
    .navbar-text-colour {
        color: white !important;
        visibility: hidden;
    }

    .navbar-text-colour.scrolled {
        color: white !important;
        visibility: visible;
    }

    .nav-text-logo-left {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        padding: 0;
    }
    
    .nav-text-logo-right {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        padding: 0;
    }

    .nav-text-logo-left.scrolled {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #fff;
    }
    
    .nav-text-logo-right.scrolled    {
        font-family: 'Akshar', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #ef9035;
    }
}

/* ===== Star Section ===== */
.stars-section {
    margin: 50px 0 0 0;
    padding: 100px 0 400px 0;
    height: 1000px;
}

.stars-left {
    display: flex;
    justify-content: center;
    z-index: -2;
}

.stars-right {
    z-index: -2;
}

.stars-header-container {
    text-align: center;
    padding-bottom: 15px;
}

.stars-header-1,
.stars-header-2 {
    color: #fff;
    margin: 0;
}

.stars-header-1 {
    font-family: 'Anek Telugu', sans-serif;
    font-size: 50px;
    margin: 40px 0 0 0;
}

.stars-header-2 {

    font-family: 'Akshar', sans-serif;
    font-size: 60px;
}

.stars-rocket {
    position: relative;
}

.img-astronaut {
    width: 200px;
    position: absolute;
    left: 70%;
    top: 30%;
}

.stars-button-container {
    text-align: center;
    margin-top: 420px;
}

@media screen and (max-width: 414px) {
    .stars-section {
        margin: 50px 0 0 0;
        padding: 100px 0 0 0;
        height: 850px;
    }

    .stars-button-container {
        margin-top: 200px !important;
    }

    .stars-header-1 {
        font-family: 'Anek Telugu', sans-serif;
        font-size: 50px;
        margin: 0 0 0 0;
    }

    .img-astronaut {
        width: 70px !important;
    }
}

@media screen and (max-width: 990px) {
    .stars-section {
        padding: 100px 0 400px 0;
    }

    .stars-header-1 {
        font-size: 30px;
    }

    .stars-header-2 {
        font-size: 40px;
    }

    .img-astronaut {
        width: 100px;
    }
}

/* ===== Sections ===== */
.section-top-portion,
.section-mid-portion,
.section-mid2-portion,
.section-bot-portion {
    margin-top: 0px;
    padding-top: 50px;
    width: 90%;
    max-width: 1200px;

    background-color: #040027;
    /* background-color: transparent; */
    /* background: rgb(122,48,222);
    background: linear-gradient(328deg, rgba(122,48,222,1) 0%, rgba(185,64,160,1) 49%, rgba(244,101,95,1) 100%); */
}

.section-container {
    padding: 20px;
    margin: auto;
}

.section-container-mid-size {
    padding: 20px 0;
    width: 70%;
    margin: auto;
}

.rounded-separator {
    border-top: 3px dashed #ca5a56;
    width: 200px;
    padding-bottom: 20px;
}

@media screen and (max-width: 414px) {
    .section-top-portion {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        border: 0;
        border-radius: 0;
        width: 100%;
        background-color: #040027;
    }

    .section-mid-portion {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        border: 0;
        border-radius: 0;
        width: 100%;
        /* background-color: #1E054D; */
        background-color: #040027;
    }

    .rounded-separator {
        border-top: 3px dashed #ca5a56;
        width: 200px;
        margin-bottom: 19px;
    }
}

@media screen and (max-width: 990px) {
    .section-top-portion {
        margin-top: 75px;
    }
}

.section-card {
    text-align: center;
    margin: auto;
}

.section-header,
.section-header-quote,
.section-sub-header,
.section-sub-header-text,
.section-text {
    color: #fff;
    font-family: 'Anek Telugu', sans-serif;
}

.section-header {
    font-weight: 400;
    font-size: 44px;
    text-align: center;
}

.section-header-quote {
    font-weight: 400;
    font-size: 38px;
}

.section-sub-header {
    font-weight: 400;
    font-size: 30px;
    color: #ca5a56;
}

.section-sub-header-text {
    font-weight: 400;
    font-size: 22px;
    color: #ef9035;
    text-align: center;
}

.section-text {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
}

.section-img-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.section-img-positioning-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding: 30px 0;
    background-color: #0e074e;
    border-radius: 10px;
}

@media screen and (max-width: 414px) {
    .section-img-positioning-logos {
        padding-top: 0px !important;
        flex-direction: column;
    }
}

@media screen and (max-width: 990px) {
    .section-img-positioning-logos {
        padding-top: 30px !important;
        flex-direction: column;
    }
}

/* @media screen and (min-width: 991px) {
    .section-img-positioning-logos {
        padding-top: 0px !important;
        flex-direction: column;
    }
} */




.section-img {
    height: 100px;
    display: block;

}

.section-img-logos {
    height: 40px;
    display: block;
}

.section-contact {
    max-width: 1200px;
    width: 90%;
    margin: 0;
}

.caro-container {}

.caro-imgs__logos {}

@media screen and (max-width: 414px) {
    .section-header {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
    }

    .section-sub-header {
        font-weight: 400;
        font-size: 22px;
    }

    .section-text {
        font-size: 18px;
        text-align: left;
    }

    .section-row-media {
        scroll-margin-top: 20px;
    }

    .section-flex__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

    }

    .section-img-positioning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .section-img {
        width: 100px;
    }

    .card {
        width: 500px !important;
    }

    .card-text {
        font-size: 16px;
    }

}

@media screen and (max-width: 990px) {
    .section-header {
        font-weight: 400;
        font-size: 35px;
        text-align: center;
    }

    .section-sub-header {
        font-weight: 400;
        font-size: 27px;
    }

    .section-text {
        font-size: 22px;
        text-align: left;
    }

    .section-row-media {
        scroll-margin-top: 20px;
    }

    .section-flex__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

    }

    .section-img-positioning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .section-img {
        width: 100px;
    }

    .card-cent-pos {
        width: 300px !important;
        height: auto;
    }

    .card-text {
        font-size: 16px;
    }

}

/* .card-row {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.card-col {
    margin: 20px 0;
}

.card-cent-pos {
    margin: auto;
    width: 15em;
    height: 350px;
    background-color: #0e074e;
}

.card-cent-pos:hover {
    box-shadow: 0 0 10px 4px #ca5a56;
}

.card-image {
    width: 100px;
    margin: auto;
    padding-top: 24px;
}

.card-body-custom {}

.card-text {
    font-family: 'Anek Telugu', sans-serif;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 414px) {
    .card-cent-pos {
        width: 300px !important;
        height: auto;
    }
}

@media screen and (max-width: 990px) {
    .card-cent-pos {
        width: 17rem;
    }

    .card-image {
        width: 100px;
    }

    .section-mid-portion {
        padding-top: 0px;
    }
}



/* ===== Contact ===== */
.contact-section {
    padding-left: 0;
    padding-right: 0;
}

.contact-container {
    background-color: #0e074e;
    border-radius: 25px;
    margin-bottom: 50px;
}

.contact-header {
    font-family: 'Anek Telugu', sans-serif;
    color: #ef9035;
}

.contact-box {
    background-color: #040027;
    padding: 10px !important;
    color: #fff !important;
}

::placeholder {
    color: rgb(124, 124, 124) !important;
    opacity: 1;
}

@media screen and (max-width: 414px) {
    .contact {
        padding: 14px;
    }

    .contact-container {
        background-color: #0e074e;
        border-radius: 0px;
        margin-bottom: 0px;
    }
}


/* ===== Footer ===== */
.footer-header {
    color: #fff;
}

.footer-text {
    color: #fff;
}

.footer-text:hover {
    color: #fff;
}